body{
    background-color: rgb(216, 227, 228);
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: rgb(87, 87, 217);
}
.header h1{
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
}
.header p{
    text-align: center;
    color: aliceblue;
    font-style: italic;
}
.info{
    color: rgb(24, 129, 226);
    font-size: 25px;
}
em{
    color: rgb(91, 152, 226);
}
.work{
    color: rgb(24, 129, 226);
    font-size: 25px;
}
.service{
    color: rgb(24, 129, 226);
    font-size: 25px;
}
ul{
    list-style-type: none;
    cursor: pointer;
}
ul li:hover{
    color: rgb(91, 152, 226);
}
.note{
    color: rgb(24, 129, 226);
    font-size: 25px;
}
.no{
    color:red;
    font-style: italic;
}
.contact{
    color: rgb(24, 129, 226);
    font-size: 25px;
}
a{
    color: rgb(37, 30, 154);
}
.footer{
    background-color: rgb(87, 87, 217);
}
.footer h1{
    color: aliceblue;
    text-align: center;
}